.navigationBar {
    height: 100px;
    width: 100%;
    margin-bottom: 60px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 10;
}

a {
    text-decoration: none;
}

.navigationBar .container {
    display: flex;
    margin-top: 10px;
}

.siteNavigation,
.userNavigation {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.siteNavigation {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.userNavigation {
    display: flex;
    width: 140px;
    margin-left: auto;
}