.window {
    margin-top: -100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: white;
    z-index: 20;
}

.window h2 {
    text-align: center;
}